@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
font-family: Sora;
}
.main{
    display: flex;
    justify-content: space-between;
    /* margin: 20px 80px; */
    background-color: #404eed;
    padding: 30px 50px;
}
.main button{
    font-size: 15px;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
}
.nav{
    display: flex;
    gap: 3rem;
    background-color: #404eed;
    color: white;
    
    }
    
    .nav :hover {
        text-decoration: underline;
}
.navbar{
    background-color: #404eed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 60px;
    color: white;
}
.navbar h1{
    color: white;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
    
}
.navbar p{
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.navbar button{
    font-size: 20px;
    align-items: center;
    
    padding: 18px;
    border: none;
    background-color: white;
    border-radius: 30px;
}
.navbar .button{
    color: white;
    background-color: rgb(31, 30, 30);
}
.invite_only{
    display: flex;
    margin-top: 10%;
}
.invite_only img{
    margin-left: 100px;
}
.invite-only_main{
    margin-left: 90px;
    padding: 40px;
}
.invite-only_main h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.invite-only_main p{
    font-size: 20px;
   
}
.img img{
    margin-right: 100px;
}
.download_button {
    display: flex;
    gap: 5px;
    align-items: center;
}

.btn_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(240, 240, 240);
    padding: 70px 30px;
}

.last h1 {
    font-weight: bolder;
    margin-bottom: 20px;
}

.last p {
    width: 800px;
    line-height: 2;
}

.last button {
    font-size: 20px;
    border-radius: 30px;
    border: none;
    background-color: #404eed;
    padding: 15px;
    color: white;
    margin-top: 20px;
}

.last .para {
    font-size: 30px;
    font-weight: 500;
}

.footer {
    background: #23272a;
    color: #5865f2;
    display: flex;
    padding: 80px 70px;
    justify-content: space-between;
}

.footer_links {
    display: flex;
    gap: 110px;
}

.footer_link_ind {
    gap: 10px;
    display: flex;
    flex-direction: column;
    font-weight: 100;

}

.footer_head {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.footer_social_links {
    display: flex;
    gap: 20px;
    font-size: 25px;
    color: white;
}

.footer_link_ind a {
    color: white;
    text-decoration: none;

}

.footer_link_ind a:hover {
    text-decoration: underline;
}

.main_footer {
    /* margin-left: 80px; */
    border-top: 1px solid #404eed;
    padding: 40px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #23272a;
}


.main_footer img {

    color: white;
}

.main_footer button {
    border: none;
    color: white;
    background-color: #404eed;
    border-radius: 30px;
    padding: 10px;
}